page-loggedin {

  .background {
    background-image: url('../assets/imgs/travel3.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100%;

    .item{
      background: rgba(232,230,230,0px);}

  }
  .scroll-content {
    text-align: center;
  }



}
